.box {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;
    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 52px;
        height: 52px;

        &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
            border-radius: 50%;
        }
    }
    .filter {
        height: 52px;
        width: 240px;
        display: flex;
        align-items: center;

        position: relative;
        align-items: center;

        border-radius: 12px;
        border: 2px solid #d9dfe1;

        padding: 8px 24px;
        font-weight: 600;

        &:hover {
            cursor: pointer;
        }
        .holder {
            display: flex;
            flex-direction: row;
            flex: 1;

            justify-content: space-between;
            align-items: center;
        }
    }
}
